<h1>Edit Media</h1>

<main>
  <%= render partial: "form", locals: {
    form_class: "edit-work",
    intro_text: "Use this form to edit a Work",
    action_name: "Edit Work"
  } %>
</main>
<p>Find me in app/views/works/edit.html.erb</p>
