<h1>Create a New Piece of Media</h1>

<main>
  <%= render partial: "form", locals: {
    form_class: "new-work",
    intro_text: "Use this form to create a new work",
    action_name: "Create Work"
  } %>
</main>
<p>Find me in app/views/works/new.html.erb</p>
