<h2>Add a new work</h2>

<main>
  <%= render partial: "form", locals: {
    form_class: "new-work",
    intro_text: "Use this form to create a new work",
    action_name: "Create Work"
  } %>
</main>
